.desktop-81 .our-showroom-73-bogwang-ro-yongsan-gu-seoul-republic-of-korea {
  margin-bottom: 132px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Yantramanav';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.desktop-81 .phone-821020014000 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Yantramanav';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.desktop-81 .container-1 {
  margin: 28px 74.9px 90px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-81 .email-teecopgmail-com {
  margin-bottom: 161px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Yantramanav';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.desktop-81 .instagram-tictok-facebook {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Yantramanav';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.desktop-81 .container-2 {
  margin: 35px 307.6px 90px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-81 .contect-us {
  margin-bottom: 29px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 400;
  font-size: 75px;
  line-height: 1.5;
  color: #000000;
}
.desktop-81 .name-phone-email-your-message {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Yantramanav';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #C9C9C9;
}
.desktop-81 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-81 .line-1 {
  background: #C9C9C9;
  position: absolute;
  left: 1px;
  top: 205px;
  width: 423px;
  height: 1px;
}
.desktop-81 .line-2 {
  background: #C9C9C9;
  position: absolute;
  left: 1px;
  bottom: 179px;
  width: 423px;
  height: 1px;
}
.desktop-81 .line-3 {
  background: #C9C9C9;
  position: absolute;
  left: 1px;
  bottom: 75px;
  width: 423px;
  height: 1px;
}
.desktop-81 .container-5 {
  position: relative;
  margin-right: 0px;
  display: flex;
  box-sizing: border-box;
}
.desktop-81 .container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-81 .line-4 {
  background: #C9C9C9;
  margin: 0 79.4px 101px 79.4px;
  width: 423px;
  height: 1px;
}
.desktop-81 .send-message {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Yesteryear';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.desktop-81 .container-3 {
  background: url('../assets/images/image_8.png') 50% / cover no-repeat;
  position: relative;
  margin-left: 430.6px;
  display: flex;
  align-self: center;
  padding: 51px 25px 50px 0;
  width: 163px;
  box-sizing: border-box;
}
.desktop-8 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 4px 33.6px 225px 46px;
  width: 1440px;
  box-sizing: border-box;
}
