.frame-4 .brand-values {
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 400;
  font-size: 75px;
  line-height: 1.5;
  color: #000000;
}
.frame-4 .brand-values {
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 400;
  font-size: 75px;
  line-height: 1.5;
  color: #000000;
}
.frame-4 .desktop-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 14px 0 0 31.1px;
  height: 100%;
  box-sizing: border-box;
}
.frame-4 .teecop-is-astudio-inspired-by-various-forms-and-graphics-including-the-organic-form-of-nature-and-the-modernity-of-the-city-using-various-techniques-of-pottery-unique-homeliving-products-are-designde-and-made-predious-by-hand {
  position: relative;
  margin: 0 45.6px 44px 45.6px;
  display: inline-block;
  align-self: flex-end;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.frame-4 .container {
  background: url('../assets/images/image_13.jpeg') 50% / cover no-repeat;
  margin-right: 50.7px;
  width: 1100px;
  height: 424px;
}
.frame-4 .distinct-style {
  margin: 0 0 3.5px 5.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.frame-4 .our-brand-showcases-adistinct-style-marked-by-elegant-simplicity-and-understated-sophistication {
  text-align: right;
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
  color: #000000;
}
.frame-4 .container {
  margin: 143.5px 0 125px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-4 .container-3 {
  position: relative;
  margin: 0 0 57.5px 27px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-4 .individuality {
  margin: 10px 18px 0 0;
  display: inline-block;
  width: 753.5px;
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.frame-4 .authenticity {
  margin-bottom: 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.frame-4 .container-2 {
  position: relative;
  margin: 0 123.4px 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 967.4px;
  box-sizing: border-box;
}
.frame-4 .we-celebrate-individuality-by-offering-unique-and-distinctive-pieces-that-allow-you-to-express-your-personal-style-at-every-meal {
  margin: 6px 43.5px 0 0;
  display: inline-block;
  width: 729.5px;
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
  color: #000000;
}
.frame-4 .we-epiltomize-authenticity-through-genuine-craftsmanship-and-timeless-design {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Old Mincho';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
  color: #000000;
}
.frame-4 .container-1 {
  position: relative;
  margin-right: 34.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1055.9px;
  box-sizing: border-box;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 98px 15px 42.5px 15px;
  width: 1440px;
  box-sizing: border-box;
}
